#contact {
    background: linear-gradient(0deg, transparent var(--footer-height), var(--secondary) var(--footer-height), var(--secondary) calc(3 * var(--footer-height)), transparent calc(3 * var(--footer-height)));
}

#contact > .container {
    height: calc(100% - 3 * var(--footer-height));
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;

    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
}

#contact > .container.show {
    opacity: 1;
}

#contact > .container > h1 {
    font-size: 2.5rem;
    background: linear-gradient(var(--secondary), var(--red-crayola));
    text-align: center;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#contact > .container > p {
    width: 75%;
    text-align: center;
    line-height: 2rem;
}

#networks {
    height: calc(3 * var(--footer-height));
    align-self: end;
    display: flex;
    justify-content: center;
    position: absolute;
}

#networks > a {
    margin: 15px;
    color: var(--primary);
}

#contact > svg {
    position: absolute;
    align-self: end;
    margin-bottom: var(--footer-height);
    width: 100%;
    height: var(--footer-height);
}

.resume_button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.resume_button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.resume_button:active {
  transform: scale(0.95);
}

.parallax > use {
    fill: var(--primary);

    -webkit-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    -moz-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    -ms-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    -o-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    opacity: 0.3;

    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    -ms-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;

    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -ms-animation-duration: 7s;
    -o-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    opacity: 0.5;

    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
    -ms-animation-delay: -3s;
    -o-animation-delay: -3s;
    animation-delay: -3s;

    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
    -ms-animation-delay: -4s;
    -o-animation-delay: -4s;
    animation-delay: -4s;

    -webkit-animation-duration: 13s;
    -moz-animation-duration: 13s;
    -ms-animation-duration: 13s;
    -o-animation-duration: 13s;
    animation-duration: 13s;
}

@keyframes move-forever {
    0% {
        -webkit-transform: translateX(-90px);
        -moz-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
        -o-transform: translateX(-90px);
        transform: translateX(-90px);
    }

    100% { 
        -webkit-transform: translateX(85px);
        -moz-transform: translateX(85px);
        -ms-transform: translateX(85px);
        -o-transform: translateX(85px);
        transform: translateX(85px);
    }
}