@import url("./about-section.css");
@import url("./skills-section.css");
@import url("./portfolio-section.css");
@import url("./contact-section.css");

:root {
    --primary: rgb(33, 37, 41);
    --secondary: rgb(242, 100, 25); /* Orange (Pantone) */
    --red-crayola: rgb(238, 66, 102);

    --font-color: white;
    --border-color: rgba(255, 255, 255, 0.1);
    
    --card-bg-color: rgba(255, 255, 255, 0.015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-font-color: rgba(255, 255, 255, 0.5);
    
    --footer-height: 50px;
    --color-fade-time: 1s;
}

.dark-theme {
    --primary: rgb(255, 255, 255);

    --font-color: black;
    --border-color: rgba(255, 255, 255, 0.1);
    
    --card-bg-color: rgba(0, 0, 0, 0.015);
    --card-border-color: rgba(0, 0, 0, 0.1);
    --card-font-color: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 2.5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary);
    
    -webkit-transition: var(--color-fade-time);
    -moz-transition: var(--color-fade-time);
    -ms-transition: var(--color-fade-time);
    -o-transition: var(--color-fade-time);
    transition: var(--color-fade-time);
}

.transition {
    -webkit-transition: var(--color-fade-time);
    -moz-transition: var(--color-fade-time);
    -ms-transition: var(--color-fade-time);
    -o-transition: var(--color-fade-time);
    transition: var(--color-fade-time);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 71px;
    background: var(--primary);
    border-bottom: 1px solid var(--secondary);
    z-index: 1;
}

nav {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    grid-template-rows: 100%;
    grid-template-columns: 75px auto 50px;
    grid-template-areas: "logo nav mode";
}

nav > * {    
    justify-self: center;
}

nav > ul {
    grid-area: nav;
    text-align: center;
}
  
nav > ul > li {
    display: inline-block;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
}

nav > ul > li > a {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: 0.1rem;
    line-height: 1em;
    padding: 0.75rem;
    text-decoration: none !important;
    text-transform: uppercase;
}

nav > ul > li > a:after {    
    border-bottom: 3px solid var(--font-color);
    content: "";
    display: block;
    margin: 0.25em auto 0;
    width: 0;

    -webkit-transition: width 250ms ease-in-out 0s;
    -moz-transition: width 250ms ease-in-out 0s;
    -ms-transition: width 250ms ease-in-out 0s;
    -o-transition: width 250ms ease-in-out 0s;
    transition: width 250ms ease-in-out 0s;
}

nav > ul > li > a:hover:after {
    width: 100%;

    -webkit-transition: width 100ms ease-in-out 0s;
    -moz-transition: width 100ms ease-in-out 0s;
    -ms-transition: width 100ms ease-in-out 0s;
    -o-transition: width 100ms ease-in-out 0s;
    transition: width 100ms ease-in-out 0s;
}

nav > i {
    grid-area: mode;
    color: var(--font-color);
    cursor: pointer;
}

nav > a {
    grid-area: logo;
    width: 40px;
    height: 40px;
}

#logo {
    filter: invert(1);
}

#logo.black {
    filter: invert(0);
}

main {
    width: 100%;
    position: absolute;
    top: 70px;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    z-index: 0;
}

section {
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--secondary);
    border-bottom: var(--secondary);
    scroll-snap-align: start;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

/* ---------------------------------------- First Section ---------------------------------------- */

#top {
    flex-direction: column;
}

#particlesCanvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;

    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    filter: blur(2.5px);
}

#top > h1 {
    font-size: 5rem;
    background: linear-gradient(var(--secondary), var(--red-crayola));
    text-align: center;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#top > h2 {
    font-weight: 100;
    background: linear-gradient(var(--red-crayola), var(--secondary));    
    text-align: center;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#arrows {
    position: absolute;
    bottom: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#arrows span{
    display: block;
    width: 10px; 
    height: 10px;
    transform: rotate(45deg);
    border-right: 2px solid var(--font-color); 
    border-bottom: 2px solid var(--font-color);
}

.down-arrow-1 {
    margin-top: 6px;
}

.down-arrow-1, .down-arrow-2, .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    -ms-animation: mouse-scroll 1s infinite;
    -o-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.down-arrow-1 {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -ms-animation-delay: 100ms;
    -o-animation-delay: 100ms;
    animation-delay: 100ms;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.down-arrow-2 {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -ms-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.down-arrow-3 {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    animation-delay: 300ms;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}

/* ---------------------------------------- Media query for mobile navigation ---------------------------------------- */

@media only screen and (max-width: 768px) {
    header.open {
        height: 100%;
    }

    nav {
        opacity: 1;
        z-index: 0;
    }
    
    header:not(.open) nav > ul {
        opacity: 0;
        
        -webkit-transition-duration: 250ms;
        -moz-transition-duration: 250ms;
        -ms-transition-duration: 250ms;
        -o-transition-duration: 250ms;
        transition-duration: 250ms;
    }
    
    nav > ul {
        display: flex;
        flex-direction: column;
        
        -webkit-transition-delay: 250ms;
        -moz-transition-delay: 250ms;
        -ms-transition-delay: 250ms;
        -o-transition-delay: 250ms;
        transition-delay: 250ms;

        -webkit-transition-duration: 500ms;
        -moz-transition-duration: 500ms;
        -ms-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
    }

    nav > i {
        grid-area: logo;
        align-self: self-start;
        margin-top: 35px;
    }

    nav > a {
        display: none;
    }

    #wrapper {
        z-index: 1;
        position: absolute;
        top: 14px;
        right: 14px;
        overflow: hidden;
        cursor: pointer;        
        width: 42px;
        height: 42px;

        -webkit-tap-highlight-color: transparent;
    }

    #menu-trigger, #close-trigger {
        position: absolute;
        top: 10px;
        display: block;
        width: 42px;
        height: 42px;
    }

    #menu-trigger:hover .menu-trigger-bar:before, #close-trigger:hover .menu-trigger-bar:before {
        width: 100%;
    }

    #menu-trigger:hover .close-trigger-bar:before, #close-trigger:hover .close-trigger-bar:before {
        width: 100%;
    }

   #close-trigger {
        top: 20px;
    }

    .menu-trigger-bar {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--font-color);
        margin-bottom: 6px;
        position: relative;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu-trigger-bar:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);

        -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -ms-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .menu-trigger-bar.top {
        visibility: visible;
        width: 50%;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        -ms-transition-delay: 100ms;
        -o-transition-delay: 100ms;
        transition-delay: 100ms;
    }

    .menu-trigger-bar.top.hide {
        visibility: hidden;

        -webkit-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -moz-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -ms-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -o-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        transform: translateX(80px) translateY(-80px) rotate(-45deg);
    }

    .menu-trigger-bar.middle {
        visibility: visible;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu-trigger-bar.middle.hide {
        visibility: hidden;

        -webkit-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -moz-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -ms-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -o-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        transform: translateX(80px) translateY(-80px) rotate(-45deg);
    }

    .menu-trigger-bar.middle:before {
        left: auto;
        right: 0;
    }

    .menu-trigger-bar.bottom {
        visibility: visible;
        width: 50%;
        margin-left: 50%;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        -webkit-transition-delay: 200ms;
        -moz-transition-delay: 200ms;
        -ms-transition-delay: 200ms;
        -o-transition-delay: 200ms;
        transition-delay: 200ms;
    }

    .menu-trigger-bar.bottom.hide {
        visibility: hidden;

        -webkit-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -moz-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -ms-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        -o-transform: translateX(80px) translateY(-80px) rotate(-45deg);
        transform: translateX(80px) translateY(-80px) rotate(-45deg);
    }

   .close-trigger-bar {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--font-color);
        position: relative;
    }

    .close-trigger-bar:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0%;
        height: 100%;
        background-color: var(--font-color);
        
        -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -ms-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .close-trigger-bar.left {
        visibility: hidden;

        -webkit-transform: translateX(100px) translateY(-100px) rotate(-45deg);
        -moz-transform: translateX(100px) translateY(-100px) rotate(-45deg);
        -ms-transform: translateX(100px) translateY(-100px) rotate(-45deg);
        -o-transform: translateX(100px) translateY(-100px) rotate(-45deg);
        transform: translateX(100px) translateY(-100px) rotate(-45deg);
    }

    .close-trigger-bar.left.show {
        visibility: visible;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .close-trigger-bar.right {
        visibility: hidden;
        transform: translateX(-100px) translateY(-100px) rotate(45deg);
        transition-delay: 200ms;
        top: -3px;
    }

    .close-trigger-bar.right.show {
        transform: rotate(45deg);
        visibility: visible;
        top: -3px;
    }

    .transition {
        transition-duration: 1s;
    }
}