#skills > .container {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;

    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
}

#skills > .container.show {
    opacity: 1;
}

.skills_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills_header > svg {
    position: absolute;
    z-index: -1;
    transform: translateY(200px);
}

button.title {
    border-radius: 6px;
    border: 2px solid var(--border-color);
    background: var(--primary);
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.technologies {
    display: grid;
    height: 60%;
    margin: 25px;
    grid-template-columns: repeat(3, 1fr);;
    grid-template-rows: repeat(2, 1fr);;
}

.front-end, .back-end, .software {
    align-content: flex-start;
    display: flex;
    gap: 15px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.front-end {
    grid-column: 1;
    grid-row: 1;
}

.back-end {
    justify-content: flex-end;
    grid-column: 3;
    grid-row: 1;
}

.software {
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
}

.technologies button {
    height: 30px;
    padding: 5px;
    border: 2px solid var(--card-border-color);
    border-radius: 5px;
    background: var(--card-bg-color);
    color: var(--font-color);
    text-transform: uppercase;
    letter-spacing: 1.25px;
    
    &:hover {
        box-shadow: 0px 5px 10px 3px var(--border-color);
    }
}

#tree_gradient {
    stop-color: var(--primary);
}