:root {
    --primary: rgb(33, 37, 41);
    --secondary: rgb(242, 100, 25); /* Orange (Pantone) */
    --red-crayola: rgb(238, 66, 102);

    --font-color: rgb(255, 255, 255);
    --border-color: rgba(255, 255, 255, 0.1);
    
    --card-bg-color: rgba(255, 255, 255, 0.015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-font-color: rgba(255, 255, 255, 0.5);
    
    --footer-height: 50px;
    --color-fade-time: 1s;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 2.5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary);
    
    -webkit-transition: var(--color-fade-time);
    -moz-transition: var(--color-fade-time);
    -ms-transition: var(--color-fade-time);
    -o-transition: var(--color-fade-time);
    transition: var(--color-fade-time);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 71px;
    background: var(--primary);
    border-bottom: 1px solid var(--secondary);
    z-index: 1;
    z-index: 1;
    
    -webkit-transition: var(--color-fade-time);
    -moz-transition: var(--color-fade-time);
    -ms-transition: var(--color-fade-time);
    -o-transition: var(--color-fade-time);
    transition: var(--color-fade-time);
}

nav {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 1rem;
    grid-template-rows: 100%;
    grid-template-columns: 75px auto 50px;
    grid-template-areas: "logo nav mode";
}

nav > * {    
    justify-self: center;
}

nav > ul {
    grid-area: nav;
    text-align: center;
}
  
nav > ul > li {
    display: inline-block;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
}

nav > ul > li > a {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    color: var(--font-color);
    letter-spacing: 0.1rem;
    line-height: 1em;
    padding: 0.75rem;
    text-decoration: none !important;
    text-transform: uppercase;
    
    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

nav > ul > li > a:after {    
    border-bottom: 3px solid var(--font-color);
    content: "";
    display: block;
    margin: 0.25em auto 0;
    width: 0;
}

nav > ul > li > a:hover:after {
    width: 100%;
}

nav > i {
    grid-area: mode;
    color: var(--font-color);
    width: 20px;
    cursor: pointer;
}

nav > a {
    grid-area: logo;
    width: 40px;
    height: 40px;
}

#logo {
    filter: invert(1);
    
    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

#logo.black {
    filter: invert(0);
    
    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

main {
    width: 100%;
    position: absolute;
    top: 70px;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    z-index: 0;
}

section {
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--secondary);
    border-bottom: var(--secondary);
    scroll-snap-align: start;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

/* ---------------------------------------- First Section ---------------------------------------- */

#top {
    flex-direction: column;
}

#canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;

    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    filter: blur(2.5px);
}

#top > h1 {
    font-size: 5rem;
    background: linear-gradient(var(--secondary), var(--red-crayola));
    text-align: center;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#top > h2 {
    font-weight: 100;
    background: linear-gradient(var(--red-crayola), var(--secondary));    
    text-align: center;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

#arrows {
    position: absolute;
    bottom: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#arrows span{
    display: block;
    width: 10px; 
    height: 10px;
    transform: rotate(45deg);
    border-right: 2px solid var(--font-color); 
    border-bottom: 2px solid var(--font-color);

    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

.down-arrow-1 {
    margin-top: 6px;
}

.down-arrow-1, .down-arrow-2, .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    -ms-animation: mouse-scroll 1s infinite;
    -o-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.down-arrow-1 {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -ms-animation-delay: 100ms;
    -o-animation-delay: 100ms;
    animation-delay: 100ms;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.down-arrow-2 {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -ms-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.down-arrow-3 {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    animation-delay: 300ms;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}

/* ---------------------------------------- About Section ---------------------------------------- */

#about {
    flex-direction: column;    
}

#about > .container {
    width: 90%;
    opacity: 0;

    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
}

#about > .container.show {
    opacity: 1;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    border-left: 2px solid var(--secondary);
}

.timeline-item p {
    font-size: 1rem;
    margin: 5px 0 5px 0;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 1em;
    left: -7px;
    content: '';
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--primary);
    
    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

.timeline-item:last-child {
    border-image: linear-gradient(to bottom, var(--secondary) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-item h2 {
    color: var(--secondary);
}

.title::before {
    color: var(--font-color);
    content: attr(date-is);
    position: absolute;
    left: 2em;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.785rem;

    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

/* ---------------------------------------- Portfolio Section ---------------------------------------- */

#portfolio {
    overflow: hidden;
}

#portfolio > .container {
    height: 100%;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    grid-auto-columns: min(400px, 100%);
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;    
    opacity: 0;

    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);

    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    transition-duration: 750ms;
}

#portfolio > .container.show {
    opacity: 1;
    
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(25px);
}

.card {
    height: 100%;
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: .25em;
    color: var(--card-font-color);
    display: flex;
    flex-direction: column;
    opacity: 0.75;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.card:hover {
    color: var(--font-color);
    box-shadow: 0px 5px 10px 3px var(--border-color);
    opacity: 1;
}

.card div:has(img) {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100%;
    height: auto;
}

#macbook {
    margin: 25px;
    width: calc(100% - 50px);
}

.card h2 {
    font-size: 2rem;
    margin: 10px;
}

.card p {
    font-size: 1rem;
    margin: 10px;
}


/* ---------------------------------------- Contact Section ---------------------------------------- */

#contact {
    background: linear-gradient(0deg, transparent var(--footer-height), var(--secondary) var(--footer-height), var(--secondary) calc(3 * var(--footer-height)), transparent calc(3 * var(--footer-height)));
    align-items: end;
}

#contact .contact-info-item {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}

#contact .contact-info-item .icon {
    display: inline-block;
}

#contact .contact-info-item .icon .fa-solid {
    font-size: 25px;
    color: var(--secondary);
}

.waves {
    margin-bottom: var(--footer-height);
    width: 100%;
    height: var(--footer-height);
}

.parallax > use {
    fill: var(--primary);

    -webkit-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    -moz-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    -ms-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    -o-animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;

    -webkit-transition-duration: var(--color-fade-time);
    -moz-transition-duration: var(--color-fade-time);
    -ms-transition-duration: var(--color-fade-time);
    -o-transition-duration: var(--color-fade-time);
    transition-duration: var(--color-fade-time);
}

.parallax > use:nth-child(1) {
    opacity: 0.3;

    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    -ms-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;

    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    -ms-animation-duration: 7s;
    -o-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    opacity: 0.5;

    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
    -ms-animation-delay: -3s;
    -o-animation-delay: -3s;
    animation-delay: -3s;

    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
    -ms-animation-delay: -4s;
    -o-animation-delay: -4s;
    animation-delay: -4s;

    -webkit-animation-duration: 13s;
    -moz-animation-duration: 13s;
    -ms-animation-duration: 13s;
    -o-animation-duration: 13s;
    animation-duration: 13s;
}

@keyframes move-forever {
    0% {
        -webkit-transform: translateX(-90px);
        -moz-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
        -o-transform: translateX(-90px);
        transform: translateX(-90px);
    }

    100% { 
        -webkit-transform: translateX(85px);
        -moz-transform: translateX(85px);
        -ms-transform: translateX(85px);
        -o-transform: translateX(85px);
        transform: translateX(85px);
    }
}